<div
  class="relative bg-gray-900 rounded-2xl shadow-2xl w-64 h-96 
         hover:shadow-indigo-500/50 hover:scale-[1.03] transition-all duration-300 cursor-pointer overflow-hidden"
>
  <div class="relative w-full h-72 flex justify-center pt-5 bg-gray-800">
    <img
      [src]="posterUrl"
      [alt]="movie.Title"
      class="w-56 h-60 object-cover rounded-xl shadow-lg border-2 border-indigo-400/50"
    />
    
    <button 
      class="absolute top-4 right-4 w-10 h-10 bg-indigo-500/90 rounded-full 
             flex items-center justify-center hover:bg-indigo-600 transition-colors z-10"
    >
      <svg class="w-5 h-5 text-white fill-white" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
        <path d="M12 21.35l-1.45-1.32C5.4 15.36 2 12.28 2 8.5 2 5.42 4.42 3 7.5 3c1.74 0 3.41.81 4.5 2.09C13.09 3.81 14.76 3 16.5 3 19.58 3 22 5.42 22 8.5c0 3.78-3.4 6.86-8.55 11.54L12 21.35z"/>
      </svg>
    </button>
  </div>

  <div class="p-4 h-24 flex flex-col justify-center items-center bg-gray-900">
  
  <h2 class="text-white font-extrabold text-xl line-clamp-1 mb-1 text-center">
    {{ movie.Title }}
  </h2>
  
  <div class="flex items-center space-x-3">
    <span class="text-indigo-400 font-medium text-sm">({{ movie.Year }})</span>

    <span class="text-gray-600">|</span>

    <div class="flex items-center text-yellow-400">
      <span class="mr-1 text-lg">⭐</span>
      <span class="font-bold text-lg">{{ movie.imdbRating }}</span>
    </div>
  </div>
</div>
</div>