
<!-- Navbar -->
<nav class="flex justify-center space-x-8 p-5 bg-indigo-700 text-cyan-50 shadow-md mt-4">
  <a routerLink="/" routerLinkActive="text-white bg-blue-500" [routerLinkActiveOptions]="{ exact: true }" 
    class="inline-flex items-center gap-1 border border-gray-400 rounded-3xl p-2 transition-colors duration-500 "
  >
    <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4" fill="currentColor" viewBox="0 0 24 24">
      <path d="M3 9.75L12 3l9 6.75v10.5A2.25 2.25 0 0118.75 21H5.25A2.25 2.25 0 013 20.25V9.75z"/>
    </svg>
    Home
  </a>
  <a routerLink="/favorites" routerLinkActive="text-white bg-blue-500" 
    class="inline-flex items-center gap-1 border border-gray-400 rounded-3xl p-2 transition-colors duration-500 ">
    <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4" fill="currentColor" viewBox="0 0 24 24">
      <path d="M12 17.27L18.18 21l-1.64-7.03L22 9.24l-7.19-.61L12 2 9.19 8.63 2 9.24l5.46 4.73L5.82 21z"/>
    </svg>
    Favorites
  </a>
</nav>

<router-outlet></router-outlet>